@using System.Data;
@using TinhLuong.Models;
@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@{
    var credentials = (List<string>)HttpContext.Current.Session[SessionCommon.SESSION_CREDENTIALS];
}
<style>
    .form-group {
        width: 100%;
    }
</style>
@*<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thông tin chi tiết</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="savePass" data-dismiss="modal">Cập nhật</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>*@
@using (Html.BeginForm("UpdateQuyLuong", "QuyLuong", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thông tin chi tiết</h4>
        </div>
        <div class="modal-body">
            <div class="box-body">
                @if (Session[SessionCommon.Username].ToString() == "admin")
                {
                    <div class="left" style="width:30%; float:left; margin-left:10px">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tháng</label>
                            <input type="text"  class="form-control" name="Thang" value="@Model.Rows[0]["Thang"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Năm</label>
                            <input type="text"  class="form-control" name="Nam" value="@Model.Rows[0]["Nam"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mã đơn vị</label>
                            <input type="text"  class="form-control" name="DonViID" value="@Model.Rows[0]["DonViID"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quỹ lương KH</label>
                            <input type="text" class="form-control" name="QuyGT_KH" value="@Model.Rows[0]["QuyGT_KH"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quỹ lương tổ mạng</label>
                            <input type="text" class="form-control" name="QuyThe_KH" value="@Model.Rows[0]["QuyThe_KH"].ToString()">
                        </div>


                    </div>
                    <div class="center" style="width:30%; float:left;margin-left:30px">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Hệ số BSC đơn vị</label>
                            <input type="text" class="form-control" name="ChatLuongThang" value="@Model.Rows[0]["ChatLuongThang"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">CSTL_LDDB</label>
                            <input type="text" class="form-control" name="CSTL_LDDB" value="@Model.Rows[0]["CSTL_LDDB"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">QuyThe</label>
                            <input type="text"  class="form-control" name="QuyThe" value="@Model.Rows[0]["QuyThe"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLe_HTKH</label>
                            <input type="text"  class="form-control" name="TyLe_HTKH" value="@Model.Rows[0]["TyLe_HTKH"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLeThe</label>
                            <input type="text"  class="form-control" id="TyLeThe" name="TyLe_The" value="@Model.Rows[0]["TyLe_The"].ToString()">
                        </div>




                    </div>

                    <div class="right" style="width:30%; float:left; margin-left:30px">
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLeCuoc</label>
                            <input type="text"  class="form-control" name="TyLe_Cuoc" value="@Model.Rows[0]["TyLe_Cuoc"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLe_HTCNTT</label>
                            <input type="text"  class="form-control" name="TyLe_HTCNTT" value="@Model.Rows[0]["TyLe_HTCNTT"].ToString()">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">STT</label>
                            <input type="text"  class="form-control" name="STT" value="@Model.Rows[0]["STT"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">QuyGT</label>
                            <input type="text"  class="form-control" name="QuyGT" value="@Model.Rows[0]["QuyGT"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">QuyTT</label>
                            <input type="text"  class="form-control" name="QuyTT" value="@Model.Rows[0]["QuyTT"].ToString()">
                        </div>
                    </div>
                }
                else if (credentials.Contains("CHOT_SO"))
                {
                    <div class="left" style="width:30%; float:left; margin-left:10px">
                        <input type="text" class="form-control hidden" name="Thang" value="@Model.Rows[0]["Thang"].ToString()">
                        <input type="text" hidden="hidden" class="form-control hidden" name="Nam" value="@Model.Rows[0]["Nam"].ToString()">
                        <input type="text" hidden="hidden" class="form-control hidden" name="DonViID" value="@Model.Rows[0]["DonViID"].ToString()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tháng</label>
                            <input type="text" disabled class="form-control" name="Thang" value="@Model.Rows[0]["Thang"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Năm</label>
                            <input type="text" disabled class="form-control" name="Nam" value="@Model.Rows[0]["Nam"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mã đơn vị</label>
                            <input type="text" disabled class="form-control" name="DonViID" value="@Model.Rows[0]["DonViID"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quỹ lương KH</label>
                            <input type="text" class="form-control" name="QuyGT_KH" value="@Model.Rows[0]["QuyGT_KH"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Quỹ lương tổ mạng</label>
                            <input type="text" class="form-control" name="QuyThe_KH" value="@Model.Rows[0]["QuyThe_KH"].ToString()">
                        </div>


                    </div>
                    <div class="center" style="width:30%; float:left;margin-left:30px">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Hệ số BSC đơn vị</label>
                            <input type="text" class="form-control" name="ChatLuongThang" value="@Model.Rows[0]["ChatLuongThang"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">CSTL_LDDB</label>
                            <input type="text" class="form-control" name="CSTL_LDDB" value="@Model.Rows[0]["CSTL_LDDB"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">QuyThe</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="QuyThe" value="@Model.Rows[0]["QuyThe"].ToString()">
                            <input type="text" disabled class="form-control" name="QuyThe" value="@Model.Rows[0]["QuyThe"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLe_HTKH</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="TyLe_HTKH" value="@Model.Rows[0]["TyLe_HTKH"].ToString()">
                            <input type="text" disabled class="form-control" name="TyLe_HTKH" value="@Model.Rows[0]["TyLe_HTKH"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLeThe</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="TyLe_The" value="@Model.Rows[0]["TyLe_The"].ToString()">
                            <input type="text" disabled class="form-control" id="TyLeThe" name="TyLe_The" value="@Model.Rows[0]["TyLe_The"].ToString()">
                        </div>




                    </div>

                    <div class="right" style="width:30%; float:left; margin-left:30px">
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLeCuoc</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="TyLe_Cuoc" value="@Model.Rows[0]["TyLe_Cuoc"].ToString()">
                            <input type="text" disabled class="form-control" name="TyLe_Cuoc" value="@Model.Rows[0]["TyLe_Cuoc"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">TyLe_HTCNTT</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="TyLe_HTCNTT" value="@Model.Rows[0]["TyLe_HTCNTT"].ToString()">
                            <input type="text" disabled class="form-control" name="TyLe_HTCNTT" value="@Model.Rows[0]["TyLe_HTCNTT"].ToString()">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">STT</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="STT" value="@Model.Rows[0]["STT"].ToString()">
                            <input type="text" disabled class="form-control" name="STT" value="@Model.Rows[0]["STT"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">QuyGT</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="QuyGT" value="@Model.Rows[0]["QuyGT"].ToString()">
                            <input type="text" disabled class="form-control" name="QuyGT" value="@Model.Rows[0]["QuyGT"].ToString()">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">QuyTT</label>
                            <input type="text" hidden="hidden" class="form-control hidden" name="QuyTT" value="@Model.Rows[0]["QuyTT"].ToString()">
                            <input type="text" disabled class="form-control" name="QuyTT" value="@Model.Rows[0]["QuyTT"].ToString()">
                        </div>
                    </div>
                }




            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" id="savePass" onclick="return confirm('Bạn có chắc chắn muốn cập nhật lại thông tin không?')">Cập nhật</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
}


