


@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $(function () {
            $("#example1").DataTable();
        });


    </script>
    <script>

        function myFunction() {
            $("#divLoading").show();
            window.location.href = "/ImportSpitter/ImportexcelToDb";
        }
        function myFunction1() {
            if (confirm("Bạn có muốn import dữ liệu không?")) {
                $("#divLoading").show();
                window.location.href = "/ImportSpitter/ImportDB";
            }
        }
    </script>
    <style>
        #example1_filter {
            float: right;
        }
    </style>

}
<section class="content-header">

    <h1 style="width:20%; float:left">
        Nhập file
    </h1>

    <!--<![endif]-->
    @using (Html.BeginForm("ImportexcelToDb", "ImportSpitter", FormMethod.Post, new { enctype = "multipart/form-data", style = "float:left" }))
    {
        <input style="float:left; width:auto" class="btn btn-default" type="file" id="file" name="file">
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-primary" onclick="myFunction()">Đọc file</button>
    }
    <button type="submit" style="margin-left:5px" id="Import" name="Import" value="Import" class="btn btn-primary" onclick="myFunction1()">Import dữ liệu</button>
</section>
<section class="content-header">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Dòng</th>
                        <th>Năm</th>
                        <th>Tháng</th>
                        <th>Nhân Sự ID</th>
                        <th>Số lượng 1- Splitter lắp đặt, hàn nối thông tuyến toàn trình (đơn giá 150.000 đ)</th>
                        <th>Số lượng 2- Splitter hàn nối thông tuyến toàn trình (đơn giá 120.000 đ)</th>
                        <th>Lương</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>
                                @Model.Rows[i]["Nam"]
                            </td>
                            <td>@Model.Rows[i]["Thang"]</td>
                            <td> @Model.Rows[i]["NhanSuID"]</td>
                            <td> @Model.Rows[i]["Spitter1"]</td>
                            <td> @Model.Rows[i]["Spitter2"]</td>
                            <td> @(!string.IsNullOrWhiteSpace(Model.Rows[i]["Luong"].ToString()) ? double.Parse(Model.Rows[i]["Luong"].ToString()).ToString("N0") : "")</td>
                        </tr>
                    }
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</section>



