@using System.Data;
@model DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
        $(function () {
            $("#example1").DataTable();
        });
</script>
    @*<script>
            $("#caculatorSalaryBS").click(function () {
                if (confirm("Bạn thực sự muốn lấy dữ liệu để tính lương bổ sung quý")) {
                    if ($("#drpQuy").val() > 0 & $("#drpNam").val() > 0) {
                        $("#divLoading").show();
                        window.location.href = "/TinhLuongBoSungQuy/TinhLuong?thang=" + $("#drpThang").val() + "&nam=" + $("#drpNam").val(); // <- This is what makes it open in a new window.
                    } else {
                        alert("Phải chọn tháng và năm để tiến hành tính lương");
                    }
                }
            });

        </script>*@
}

<section class="content-header">

    <h1 style="width:20%; float:left">
        Tính lương Fiber, LLDĐ
    </h1>
    @using (Html.BeginForm("TinhLuong", "TinhLuongKH_Fiber", FormMethod.Post))
    {
        @Html.DropDownList("drpThang", ViewBag as SelectList, "--Chọn tháng--", new { @class = "btn btn-default", @required = "required" })
        @Html.DropDownList("drpNam", ViewBag as SelectList, "--Chọn năm--", new { @class = "btn btn-default", @required = "required" })
        @Html.DropDownList("LoaiLuong", ViewBag as SelectList, "--Chọn loại lương--", new { @class = "btn btn-default", @required = "required" })
        @Html.DropDownList("LoaiDV", ViewBag as SelectList, "--Chọn đơn vị--", new { @class = "btn btn-default", @required = "required" })

        @*<input type="text" required class="btn btn-default" placeholder="Nhập số tiền" name="SoTien" value="@ViewBag.SoTien">*@
        <button type="submit" class="btn btn-danger" style="" id="savePass" onclick="return confirm('Bạn có chắc chắn muốn thực hiện không?')">Thực hiện</button>

    }
  </section>
<section class="content-header">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            @if (ViewBag.Type == "FIBER" || ViewBag.Type=="LL")
            {
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Thuộc đơn vị</th>
                            <th>P1</th>
                            <th>P1KK</th>
                            <th>P2</th>
                            <th>P3</th>
                            <th>P1P2P3KK</th>
                            <th>NCC</th>
                            <th>NCTT</th>
                            <th>P1P2P3NCTT</th>
                            <th>SoTien</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Rows.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>
                                    @Model.Rows[i]["NhanSuID"]
                                </td>
                                <td>@Model.Rows[i]["HoTen"]</td>
                                <td> @Model.Rows[i]["DonViID"]</td>
                                <td> @Model.Rows[i]["P1"]</td>
                                <td> @Model.Rows[i]["P1KK"]</td>
                                <td> @Model.Rows[i]["P2"]</td>
                                <td> @Model.Rows[i]["P3"]</td>
                                <td> @Model.Rows[i]["P1P2P3KK"]</td>
                                <td> @Model.Rows[i]["NCC"]</td>
                                <td> @Model.Rows[i]["NCTT"]</td>
                                <td> @Model.Rows[i]["P1P2P3NCTT"]</td>
                                <td> @Math.Round(decimal.Parse(Model.Rows[i]["TienBoSung"].ToString()),2).ToString("N0")</td>
                                
                            </tr>
                        }
                </table>
            }
            else
            {
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tháng</th>
                            <th>Năm</th>
                            <th>TongDiemPhanPhoi</th>
                            <th>QuyLuong</th>
                            <th>TongDiemToanTinh</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Rows.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>
                                    @Model.Rows[i]["Thang"]
                                </td>
                                <td>@Model.Rows[i]["Nam"]</td>
                                <td> @Model.Rows[i]["DonViCha"]</td>
                                <td> @Decimal.Parse(Model.Rows[i]["QuyLuong"].ToString()).ToString("N0")</td>
                                <td> @Model.Rows[i]["TongDiemToanTinh"]</td>
                            </tr>
                        }
                </table>
            }


        </div>
        <!-- /.box-body -->
    </div>
</section>
