

@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $(function () {
            $("#example1").DataTable();
            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false
            //});
        });


    </script>
    <script src="~/Assets/js/PhanQuyen.js"></script>
    <link href="~/Assets/css/Modal.css" rel="stylesheet" />
    <style>
        #example1_filter {
            float: right;
        }
    </style>

}
<section class="content-header">

    <h1 style="width:20%; float:left">
        Danh mục tài khoản
    </h1>
    @Html.ActionLink("Thêm mới", "AddNewAcc", new { }, new { data_modal = "", @class = "btn btn-primary" })
    @*<button id="addNewAcc" class="btn btn-primary">Thêm mới</button>*@
    <ol class="breadcrumb" style="float:left">
        <li><a href="#"><ijk class="fa fa-dashboard"></ijk> Trang chủ</a></li>
        <li class="active"><a href="#">Tài khoản</a></li>
    </ol>

</section>
<section class="content-header">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tài khoản</th>
                        <th>Họ tên</th>
                        <th>Đơn vị</th>
                        <th width="50px">Trạng thái(Click to change)</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>
                                @Model.Rows[i]["UserName"]
                            </td>
                            <td>@Model.Rows[i]["HoTen"]</td>
                            <td> @Model.Rows[i]["TenDonVi"]</td>
                            @if (@Model.Rows[i]["IsActive"].ToString().ToLower() == "true")
                            {
                                <td>
                                    <label style="cursor:pointer" data-user="@Model.Rows[i]["UserName"]" data-stt="@(Model.Rows[i]["IsActive"].ToString()=="True"?1:0)" class="label label-primary isActive">Đang mở</label>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <label style="cursor:pointer" data-user="@Model.Rows[i]["UserName"]" data-stt="@(Model.Rows[i]["IsActive"].ToString()=="True"?1:0)" class="label label-danger isActive">Đang khóa</label>
                                </td>
                            }
                            <td>
                                @Model.Rows[i]["GhiChu"]
                            </td>
                            <td>
                                @Html.ActionLink("Cấp quyền", "GetAllRole_User", new { UserName = @Model.Rows[i]["UserName"] }, new { data_modal = "", @class = "btn btn-primary" })
                                <button style="cursor:pointer" data-user="@Model.Rows[i]["UserName"]"  class="btn btn-info resetPass">Reset</button>
                                <button style="cursor:pointer" data-user="@Model.Rows[i]["UserName"]" class="btn btn-danger deleteUser">Xóa</button>

                                  @*@Ajax.ActionLink("Reset", "ResetPass", new { UserName = @Model.Rows[i]["UserName"] },
                                        new AjaxOptions { HttpMethod = "POST", OnSuccess = "onResetPassSuccess" },
                                        new
                                        {
                                            @class = "btn btn-info",
                                            id = "resetPass",
                                            onclick = "return confirm('Bạn có muốn reset mật khẩu về mặc định không?');"
                                        })
                                @Ajax.ActionLink("Xóa", "DeleteUser", new { UserName = @Model.Rows[i]["UserName"] },
                                        new AjaxOptions { HttpMethod = "POST", OnSuccess = "onDeleteSuccess" },
                                        new
                                        {
                                            @class = "btn btn-danger",
                                            id = "delete",
                                            onclick = "return confirm('Bạn có muốn xóa tài khoản này không?');"
                                        })*@
                            </td>
                        </tr>
                    }


                    @*<tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Mã nhân viên</th>
                                <th>Tên nhân viên</th>
                                <th>Thuộc đơn vị</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>*@
            </table>

            <div id="myModal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div id="myModalContent">

                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>

